/* 
FLOW UTILITY
Like the Every Layout stack: https://every-layout.dev/layouts/stack/
Info about this implementation: https://piccalil.li/quick-tip/flow-utility/ 
*/
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.flow-space-xl {
  --flow-space: var(--space-xl);
}

.flow-space-s-2xs {
  --flow-space: var(--space-s-2xs);
}

